.container-big-card{
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  
    @media(min-width: 700px) {
      width: 200px;
      margin-bottom: 0;
    }
    @media(min-width: 1000px) {
      width: 400px;
    }
}
.big-card-image> img{
    width: 100%;
    height: auto;
    @media(min-width: 700px) {
      min-width: 200px;
    }
    @media(min-width: 1000px) {
      min-width: 400px;
    }
}
.big-card-title > h1{
    font-size: 20px;
    margin-top: 10px;

}
.big-card-description{
    margin-top: 20px;
}
.big-card-description > p > a{
    color:gray;
}